div {
  font-family: monospace;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
.no-decoration {
  text-decoration: none;
}

@media screen {
  .noprint { display: block; }
  .doprint { display: none; }
}
@media print {
  .noprint { display: none; }
  .doprint { display: block; }
}

table {
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #e3e3e3;
}
thead > tr {
  border-bottom: 1px solid #333 !important;
}
th, td {
  text-align: left;
}

paper-toolbar {
  --paper-toolbar-background: var(--google-blue-500);
  color: white;
}

paper-icon-item {
  @apply --paper-item;
}
