<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/kd-style.css">
    <title>{% block pagetitle %}{% endblock %}</title>
  </head>
  <body>
    <div id="buttonbar">
      <div class="product-name">CauliflowerVest Escrow Service</div>
      <a id="cauliflower-logo" href="/"></a>
      <div class="topbar">
        {{ user.email }}
      </div>
    </div>

    <div class="appbar">
      <span class="appname">{% block appbar %}{% endblock %}</span>
      <span class="section">{% block section %}{% endblock %}</span>
    </div>

    <div id="main-content">
      {% block mainbody %}{% endblock %}
    </div>

    <div class="page-footer">
      <ul class="linklist right">
        <li>
          <a href="https://code.google.com/p/cauliflowervest/" target="_blank">
            CauliflowerVest on Google Code</a>
        </li>
      </ul>
    </div>
  </body>
</html>
