{% extends "base.html" %}
{% block pagetitle %} Change Escrow Owner {% endblock %}
{% block appbar %} Change escrow owner {% endblock %}

{% block section %}Change the owner of a escrow item here{% endblock %}

{% block mainbody %}
    <table>
      <tr><th>Volume UUID</th><td>{{volume_uuid}}</td></tr>
      <tr><th>Current owner</th><td>{{current_owner}}</td></tr>
      <tr>
        <th>New owner</th>
        <td>
          <form action="?xsrf-token={{xsrf_token|urlencode}}" method="post">
            <input type="text" name="new_owner" required>
            <input type="submit" class="kd-button kd-button-submit" value="Update">
          </form>
        </td>
      </tr>
    </table>
{% endblock %}
