<!DOCTYPE html>
<html>
<head>
<title>Escrow Search</title>
</head>
<body>
<p>
  Search for recovery keys / passphrases here. Matches are exact string comparisons.
</p>

{% if bitlocker_fields %}
<h2>BitLocker</h2>
<form method="GET">
  <input type="hidden"  name="search_type" value="bitlocker" />
  <select name="field1">
  {% for k, v in bitlocker_fields %}
    <option value="{{k}}">{{v}}</option>
  {% endfor %}
  </select>
  <input type="text" size="40" name="value1">
  <br />
  <label for="prefix_bitlocker">Prefix Search:</label>
  <input type="checkbox" id="prefix_bitlocker" name="prefix_search" value="1" />
  <br />
  <input type="submit" value="Search">
</form>
<br />
<a href="/logs?log_type=bitlocker">BitLocker Logs</a>
{% endif %}

<br />

{% if filevault_fields %}
<h2>FileVault</h2>
<form method="GET">
  <input type="hidden"  name="search_type" value="filevault" />
  <select name="field1">
  {% for k, v in filevault_fields %}
    <option value="{{k}}">{{v}}</option>
  {% endfor %}
  </select>
  <input type="text" size="40" name="value1">
  <br />
  <label for="prefix_filevault">Prefix Search:</label>
  <input type="checkbox" id="prefix_filevault" name="prefix_search" value="1" />
  <span style="font-size: 80%">(not compatible with Escrow Username)</span>
  <br />
  <input type="submit" value="Search">
</form>
<br />
<a href="/logs?log_type=filevault">FileVault Logs</a>
{% endif %}

</body>
</html>
